<div class="area">
  <div class="main wrapper">
    <div class="container">
      <section class="calmain">
        <div class="calcontent">
          <div class="container">
            <h1>About Us:</h1>
            <br />

            <div
              class="bg--white fnb-wrapper bg-radius bg-white margin--b50"
              style="border-radius: 7px"
            >
              <h4 class="heading-title"></h4>
              <div class="fnb-wrap">
                <div class="card-box">
                  <div class="card">
                    <div class="fnb">
                      <h5 style="font-weight: bold; font-size: medium">
                        Home Loan
                      </h5>
                      <p>
                        We are India's largest home loan providers. We have
                        succesfully helped 3 lakhs+ customers to own a house.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="fnb">
                      <h5 style="font-weight: bold; font-size: medium">
                        Follow us on:
                      </h5>
                      <p>Twitter</p>
                      <p>Facebook</p>
                      <p>LinkedIn</p>
                      <p>Instagram</p>
                    </div>
                  </div>
                </div>
                <div class="card-box">
                  <div class="card">
                    <div class="fnb">
                      <h5 style="font-weight: bold; font-size: medium">
                        Products
                      </h5>
                      <p>Housing Loan</p>
                      <p>Home Renovation Loan</p>
                      <p>Home Loan Top Up</p>
                      <p>Home Loan Balance Transfer</p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="fnb">
                      <h5 style="font-weight: bold; font-size: medium">
                        Service
                      </h5>
                      <p>Multiple branches</p>
                      <p>Strong Sales Team</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
