<div class="container">
  <form (ngSubmit)="submitted()">
    <div
      style="
        background-color: #eee;
        opacity: 0.6;
        border-radius: 7px;
        padding: 20px;
      "
    >
      <h1 style="color: black; font-size: xx-large; font-weight: bolder">
        Congratulations! Your form is submitted.
      </h1>
      <h2>Next Steps:</h2>
      <p style="color: darkblue">
        Please post self attested copy of all the documents that you have marked
        as 'YES' <br />
        and application form/application number of the documents that you have
        marked as 'APPLIED'<br />
        on the below address:<br />
      </p>
      <p style="color: red">
        " Plot No. 123, <br />
        ABC Colony, DEF Road, <br />
        Ranchi, Jharkhand <br />
        PIN - 834001"
      </p>
      <p style="color: red">In case of any queries, contact - +91 xxxxxxxxxx</p>
    </div>
    <div class="row p-3">
      <div class="col-6 offset-3">
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Home</button>
        </div>
      </div>
    </div>
  </form>
</div>
