.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav1 {
  margin: 0;
  padding-right: 15px;
  background-color: #fefbf6;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 20px;
  padding: 5px 10px;
  font-weight: 1000;
  color: #00008b;
  font-size: x-large;
}
.nav-list-container {
  display: flex;
  justify-content: end;
}
.navli1 a {
  display: block;
  color: #7f5283;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
}
.navli1 a:hover {
  background-color: rgba(0, 0, 0, 0.488);
  color: #fff;
}

.bgimg {
  height: fit-content;
}

.stylingcard {
  bottom: 450%;
  right: 10%;
  position: absolute;
  text-align: center;
  height: 350px;
  width: 300px;
  background-color: #215dcb;
  border-radius: 5px;
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(5, 5, 5, 5.5);
}
.heading {
  padding-top: 100px;
  text-align: center;
}

#animate {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
