body {
  background: #eee;
  padding-top: 20px;
  font-family: monospace;
}

.header {
  border-radius: 20px 20px 0px 0px;
  padding: 10px 0px;
  background: rgb(18, 61, 142);
  color: #fff;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.faq-item {
  margin-bottom: 40px;
  margin-top: 40px;
}

.faq-body {
  display: none;
  margin-top: 30px;
}

.faq-wrapper {
  width: 75%;
  margin: 0 auto;
}

.faq-inner {
  padding: 30px;
  background: rgba(240, 244, 255, 0.464);
}

.faq-plus {
  float: right;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
}
hr {
  background-color: #9b9b9b;
}
