<div class="container">
  <div class="row">
    <div class="faq-wrapper">
      <div class="header">
        <h1>Freequently Asked Questions (FAQ)</h1>
      </div>
      <div class="faq-inner">
        <div class="faq-item">
          <h3>
            <strong>1.Who can apply for a home loan with us?</strong>
          </h3>
          Any Indian citizen between the ages of 18 to 75, either salaried or
          self-employed can apply for a Home Loan with us.
        </div>

        <div class="faq-item">
          <h3>
            <strong>2.What does EMI mean?</strong>
          </h3>
          An EMI is the 'Equated Monthly Installment', which is the monthly
          payment that you make towards repaying your Home Loan on a specified
          date until your loan is repaid in full.
        </div>

        <div class="faq-item">
          <h3>
            <strong
              >3.What are the necessary documents required to apply for the
              loan?</strong
            >
          </h3>
          The necessary documents for the loan application are: 1. Aadhaar Card
          2. PAN Card 3. Salary Slip 4. LOA 5. NOC 6. Agreement.
        </div>
        <div class="faq-item">
          <h3>
            <strong>4.What does EMI mean?</strong>
          </h3>
          An EMI is the 'Equated Monthly Installment', which is the monthly
          payment that you make towards repaying your Home Loan on a specified
          date until your loan is repaid in full.
        </div>
        <div class="faq-item">
          <h3>
            <strong
              >5.What is the step-by-step procedure to apply for the
              loan?</strong
            >
          </h3>
          The step-by-step procedure to apply for the loan is as follows: <br />
          1. Click on Apply Now. <br />
          2. Create an account. <br />
          3. Fill your personal, employement, property and bank account
          details.<br />
          4. Check on the documents you have.<br />
          5. Click on Submit.<br />
          6. Post your documents.<br />
          7. Congratulations, you have applied for a Home Loan with us.<br />
        </div>
      </div>
    </div>
  </div>
</div>
